<!-- <app-header></app-header> -->
<app-header class="animate__animated animate__fadeIn"></app-header>

<div class="container animate__animated animate__fadeIn">
<!-- <div class="container"> -->
  <div class="text-center">
    <h1 class="display-4" style="font-weight: bold; color: #3498db;">EXPLORE. DISCOVER. READ.</h1>
  </div>
  <div style="text-align: center; color: #2c3e50;">
    <h3
      style="text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; padding: 10px; font-weight: bold;">
      Your Gateway to a World of Imagination and Knowledge.
    </h3>
    <p style="font-size: 18px; line-height: 1.6;">
      Welcome to the Little Free Library, where books come to life! Explore our collection, discover new worlds,
      and indulge in the joy of reading. Whether you're a bookworm or just starting your reading journey, we have
      something for everyone. Let the adventure begin!
    </p>
  </div>
</div>

<!-- <app-header></app-header>
<br><br>
<div class="container">
  <div class="text-center">
    <h1 class="display-4" style="font-weight: bold; color: #000000e7;">WELCOME TO LITTLE FREE LIBRARY</h1>
  </div>
  <div style="text-align: center; color: lightslategray;">
    <h3
      style="text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; padding: 10px; font-weight: bold;">
      Your gateway to knowledge.
    </h3>
  </div>
</div> -->