<app-header></app-header>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center mb-4">My Books</h3>
          <div class="order-list">
            <div *ngFor="let item of books" class="order-item mb-4 p-3 border">
              <div class="product-grid">
                <div class="product-card">
                  <div class="card-content">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-description">{{ item.genre }}</p>
                    <p class="card-description">{{ item.description }}</p>
                    <p class="card-description">{{ item.author }}</p>
                    <p class="card-quantity" *ngIf="item.isBookAvailable">Available</p>
                    <p class="card-out-of-stock" *ngIf="!item.isBookAvailable">Out of Stock</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div >
      <a class="btn btn-primary" routerLink="/books">Back</a>
    </div>
  </div>
</div>
